<br>
<br>
<h1>Crear Proyecto</h1>
<form name="myForm">
    <div class="form-group">
        <mat-label>Nombre de la Categoria: </mat-label>
        <tr></tr>
        <input id="Nombre" name="Nombre" type="text" class="form-control" [(ngModel)]="categoria.nombre">
    </div>
    <div class="form-group">
        <mat-label>Descripcion de la categoria: </mat-label>
        <tr></tr>
        <input id="Descripcion" name="Descripcion" type="text" class="form-control" [(ngModel)]="categoria.descripcion">
    </div>
</form>
<br>
<br>

<mat-card-actions>


    <button mat-raised-button color="warn" mattooltip="df" type="submit" (click)="cancel()" style="margin-right: 10px;">
        <i class='fa fa-times fa-fw'></i> Cancel
    </button>

    <button mat-raised-button color="accent" class="marginButton" mattooltip="df" type="submit"
        (click)="crearCategoria()">
        <i class='fa fa-save fa-fw'></i> Save
    </button>
</mat-card-actions>