<br>
<br>
<h1>Crear nuevo estado para tickets</h1>
<form name="myForm">
    <div class="form-group">
        <mat-label>Nombre del Estado: </mat-label>
        <tr></tr>
        <input id="NombreProyecto" name="NombreProyecto" type="text" class="form-control"
            [(ngModel)]="estadoTicket.nombre">
    </div>

</form>
<br>
<br>

<mat-card-actions>


    <button mat-raised-button color="warn" mattooltip="df" type="submit" (click)="cancel()" style="margin-right: 10px;">
        <i class='fa fa-times fa-fw'></i> Cancel
    </button>

    <button mat-raised-button color="accent" class="marginButton" mattooltip="df" type="submit"
        (click)="crearEstadoTicket()">
        <i class='fa fa-save fa-fw'></i> Save
    </button>
</mat-card-actions>